'.source.hbl':
  'Accounts':
    'prefix': 'Accounts'
    'body': """
    -- To define accounts, modify the name and the amount of the template
    -- account. To define additional accounts, add lines with name and amount
    -- after the first one.
    Accounts
      "${1:Account Name}" ${2:100}
    .
    """
  'Horses':
    'prefix': 'Horses'
    'body': """
    -- To define horses, modify the name and the rank of the template horse. To
    -- define additional horses, add lines with name and rank after the first.
    Horses
      "${1:Horse Name}" ${2:1}
    .
    """
  'Tracks':
    'prefix': 'Tracks'
    'body': """
    -- To define tracks, modify the name of the template track. To define
    -- additional tracks, add lines with track names after the first.
    Tracks
      "${1:Track Name}"
    .
    """
  'Program':
    'prefix': 'Program'
    'body': """
    -- Modify the template program by changing the track name and the date.
    -- Enter the horse names for the legs that should be run and define the
    -- pools that should be available for betting as hinted below.
    Program "${1:Track Name}" ${2:2016-01-15}
      Leg 1 "${3:Horse Name}" "${4:Horse Name}" "${5:Horse Name}".
      Leg 2 "${6:Horse Name}" "${7:Horse Name}" "${8:Horse Name}".
      DD-Legs 1 2.
      V75-Legs 1 2 3 4 5 6 7.
    .
    """
  'Meeting':
    'prefix': 'Meeting'
    'body': """
    -- Modify the template meeting by changing the track name and the date.
    Meeting "${1:Track Name}" ${2:2016-01-15}
      -- Below are some examples of bets. You can modify/copy these examples or
      -- add other kinds of bets as you see fit.

      -- The bet below is given the name DDB1 so that it can be referred to
      -- later on when checking winnings. 10 is the bet amount and the bet is tied
      -- to the account with the name "Account Name".
      DD-Bet DDB1 10 Account "Account Name"
        -- For each leg in the bet you then select horses as seen below
        DD-1 2 3.
        DD-2 A.       -- The A indidates that all horses are selected.
      .

      -- Below is an examle of a Fortuna bet. 100 is the maximum bet amount in
      -- the example below. As seen below you can omit the name of the bet if
      -- you don't need to refer to it somewhere else in the test scenario.
      DD-Bet Fortuna 100  -- Bet ID is optional
        DD-1 2 3.
        DD-2 3 F.     -- The F indidates that Fortuna can make additional
      .               -- selections in the leg. You can also leave a leg
                      -- unspecified to allow Fortuna to make all selections
                      -- in the leg

      -- Below is an example of a repeated bet. I.e., the bet below is repeated
      -- 100 times and these bets will be given names MDDB_1 MDDB_2 and so on.
      DD-Bet Repeat 100 MDDB 100
        DD-1 2 3.
        DD-2 5.
      .

      -- For a V75 bet you can specify a multiplier (as on the physical coupons)
      -- after the bet name of given. If you provide the Boost keyword then
      -- Boost will be added to the bet.
      V75-Bet V75B1 X2 Boost Account Billy
        -- Horse selections are specified as below. Any reseves that are
        -- selected shouldbe preceeded by the letter R.
        V75-1 2 3 R 4 5.
        V75-2 1 R 2 3.
        V75-3 1 R 2 3.
        V75-4 2 3 R 6 7.
        V75-5 2 3 R 6.
        V75-6 2 3 R 6 7.
        V75-7 2 3 R 6 7.
      .

      -- Below is an example of a repeated Fortuna V75 bet. I.e., the bet below
      -- is repeated 10 times. No name has been provided for these bets. The
      -- Fortuna keyword makes this a Fortuna bet with a maximum amount of 100.
      V75-Bet Repeat 10 Fortuna 100 Boost Account AA3
        V75-1 2 3.
        V75-2 1.
        V75-7 2 3 F.  -- The F indidates that Fortuna can make additional
      .               -- selections in the leg. You can also leave a leg
                      -- unspecified to allow Fortuna to make all selections
                      -- in the leg

      -- Enter the results for each leg. If there is a tie for a position
      -- the horse numbers that are tied should be inside parenthesises as
      -- seen in Leg 2 below.
      Leg 1 ${3:1} ${4:2} ${5:3}.
      Leg 2 (${6:1} ${7:2}) ${8:3}.
    .
    """
