*.o
*.so
*.a
*.class
.vagrant/
src/hbl/parser/Hbl.java
src/hbl/parser/HblConstants.java
src/hbl/parser/HblTokenManager.java
src/hbl/parser/ParseException.java
src/hbl/parser/SimpleCharStream.java
src/hbl/parser/Token.java
src/hbl/parser/TokenMgrError.java
src/hbl/parser/hbl.jj
src/ifdlparser/*.pyc
src/ifdlparser/grammar.py
src/wrap/c/ftest
src/react_comp/node_modules
src/form_server/py_env
src/form_server/node_modules
src/form_server/static/js/app.js
