*.o
*.so
*.a
*.class
hbl-compiler/src/main/java/se/atg/tabs/hblcompiler/*.jj
hbl-compiler/target/
hbl-compiler/target/*.jar
hbl-compiler/target/classes
hbl-compiler/target/maven-archiver
hbl-compiler/target/maven-status
hbl-compiler/target/surefire-reports
hbl-compiler/target/test-classes
.vagrant/
src/ifdlparser/*.pyc
src/ifdlparser/grammar.py
src/wrap/c/ftest
src/react_comp/node_modules
src/form_server/py_env
src/form_server/node_modules
src/form_server/static/js/app.js
