'scopeName': 'source.hbl'
'name': 'HBL'
'fileTypes': [
  'hbl'
]
# Note that the order of the patterns have significance so don't
# change it.
'patterns': [
  {
    'match': '\\b(Accounts|Horses|Tracks|Program|Meeting)\\b'
    'name': 'keyword.control'
  }
  {
    'match': '\\.'
    'name': 'keyword.control'
  }
  {
    'match': '\\b(Account|Fortuna|Boost)(\\b)'
    'name': 'keyword.control'
  }
  {
    'match': '\\b(R|F)(\\b)'
    'name': 'keyword.other.special-method'
  }
  {
    'match': '\\b(Repeat)(\\b)'
    'name': 'keyword.other.special-method'
  }
  {
    'match': '\\b(X1|X2|X3|X4|X5|X10|X20|X50|X100)(\\b)'
    'name': 'keyword.other.special-method'
  }
  {
    'match': '\\b[0-9]+\\b'
    'name': 'constant.numeric'
  }
  {
    'match': '\\b(DD\-1|DD\-2|V75\-1|V75\-2|V75\-3|V75\-4|V75\-5|V75\-6|V75\-7)(\\b)'
    'name': 'keyword.declarations'
  }
  {
    'match': '\\b(Leg|DD|V75)(\\b)'
    'name': 'keyword.declarations'
  }
  {
    'match': '\\bInclude\\b'
    'name': 'keyword.other.special-method'
  }
  {
    'begin': '\''
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.cql'
    'end': '\''
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.cql'
    'name': 'string.quoted.single.cql'
    'patterns': [
      {
        'match': '\\\\(x\\h{2}|[0-2][0-7]{,2}|3[0-6][0-7]?|37[0-7]?|[4-7][0-7]?|.)'
        'name': 'constant.character.escape.cql'
      }
    ]
  }
  {
    'match': ''
    'name': 'constant.date.hbl'
  }
  {
    'match': ''
    'name': 'constant.time.hbl'
  }
  {
    'begin': '^---+$\\n'
    'captures':
      '0':
        'name': 'punctuation.definition.comment.hbl'
    'end': '^---+$\\n'
    'name': 'comment.block.hbl'
  }
  {
    'begin': '--'
    'captures':
      '1':
        'name': 'punctuation.definition.comment.hbl'
    'end': '$\\n?'
    'name': 'comment.line.double-hyphen.hbl'
  }
]
