'scopeName': 'source.hbl'
'name': 'HBL'
'fileTypes': [
  'hbl'
]
# Note that the order of the patterns have significance so don't
# change it.
'patterns': [
  {
    'include': '#comments'
  }
  {
    'begin': '\\b(Include)(\\b)'
    'beginCaptures':
      '0':
        'name': 'keyword.other.special-method'
    'end': '\\n'
    'endCaptures':
      '0':
        'name': 'keyword.control'
    'name': ''
    'patterns': [
      {
        'include': '#comments'
      }
    ]
  }
  {
    'begin': '\\b(Accounts|Horses|Tracks)\\b'
    'beginCaptures':
      '0':
        'name': 'keyword.control'
    'end': '\\.'
    'endCaptures':
      '0':
        'name': 'keyword.control'
    'name': 'constant.other-color'
    'patterns': [
      {
        'include': '#comments'
      }
      {
        'include': '#quotedstring'
      }
      {
        'include': '#number'
      }
    ]
  }
  {
    'begin': '\\b(Program)\\b'
    'beginCaptures':
      '0':
        'name': 'keyword.control'
    'end': '\\b([0-9]+)(\-)([0-9]+)(\-)([0-9]+)\\b'
    'endCaptures':
      '0':
        'name': 'constant.numeric'
    'name': 'constant.other-color'
    'patterns': [
      {
        'include': '#comments'
      }
    ]
  }
  {
    'begin': '\\b(Leg)(\\s)+[0-9]+\\b'
    'beginCaptures':
      '0':
        'name': 'keyword.control'
    'end': '\\.'
    'endCaptures':
      '0':
        'name': 'keyword.control'
    'name': 'constant.other-color'
    'patterns': [
      {
        'include': '#comments'
      }
      {
        'include': '#number'
      }
    ]
  }
  {
    'begin': '\\b(DD\-Legs|V75\-Legs)(\\b)'
    'beginCaptures':
      '0':
        'name': 'keyword.control'
    'end': '\\.'
    'endCaptures':
      '0':
        'name': 'keyword.control'
    'name': ''
    'patterns': [
      {
        'include': '#comments'
      }
      {
        'include': '#number'
      }
    ]
  }
  {
    'begin': '\\b(Meeting)\\b'
    'beginCaptures':
      '0':
        'name': 'keyword.control'
    'end': '\\b([0-9]+)(\-)([0-9]+)(\-)([0-9]+)\\b'
    'endCaptures':
      '0':
        'name': 'constant.numeric'
    'name': 'constant.other-color'
    'patterns': [
      {
        'include': '#comments'
      }
    ]
  }
  {
    'begin': '\\b(DD\-Bet|V75\-Bet)(\\b)'
    'beginCaptures':
      '0':
        'name': 'keyword.control'
    'end': '\\n'
    'endCaptures':
      '0':
        'name': ''
    'name': 'constant.other-color'
    'patterns': [
      {
        'include': '#comments'
      }
      {
        'include': '#number'
      }
      {
        'match': '\\b(X1|X2|X3|X4|X5|X10|X20|X50|X100)(\\b)'
        'name': 'keyword.other.special-method'
      }
      {
        'match': '\\b(Repeat|Fortuna|Boost)(\\b)'
        'name': 'keyword.other.special-method'
      }
      {
        'match': '\\b(Account)(\\b)'
        'name': 'keyword.control'
      }
    ]
  }
  {
    'begin': '\\b(DD\-1|DD\-2|V75\-1|V75\-2|V75\-3|V75\-4|V75\-5|V75\-6|V75\-7)(\\b)'
    'beginCaptures':
      '0':
        'name': 'keyword.control'
    'end': '\\.'
    'endCaptures':
      '0':
        'name': 'keyword.control'
    'name': 'constant.numeric'
    'patterns': [
      {
        'include': '#comments'
      }
      {
        'match': '\\b[0-9]+\\b'
        'name': 'constant.numeric'
      }
      {
        'match': '\\b(R|F|A)(\\b)'
        'name': 'keyword.other.special-method'
      }
    ]
  }
  {
    'match': '\\.'
    'name': 'keyword.control'
  }
]
'repository':
  'unquotedstring':
    'patterns': [
      {
        'begin' : '\\s+'
        'end': '\\s+'
        'name': 'comment.block'
      }
    ]
  'number':
    'patterns': [
      {
        'match': '\\b[0-9]+\\b'
        'name': 'constant.numeric'
      }
    ]
  'quotedstring':
    'patterns': [
      {
        'begin' : '\\"'
        'beginCaptures':
          '0':
            'name': 'constant.other.color'
        'end': '\\"'
        'endCaptures':
          '0':
            'name': 'constant.other.color'
        'name': 'constant.other.color'
      }
    ]

  'comments':
    'patterns': [
      {
        'begin': '---+'
        'captures':
          '0':
            'name': 'punctuation.definition.comment'
        'end': '---+'
        'name': 'comment.block'
      }
      {
        'begin': '--'
        'captures':
          '1':
            'name': 'punctuation.definition.comment'
        'end': '$'
        'name': 'comment.line'
      }
    ]
